---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import SideCharacter from "../components/SideCharacter.astro";
import WhatsAppLink from "../components/WhatsAppLink.astro";

import legal from "../assets/images/landing/legales.png";
import chedraui from "../assets/images/global/pleca chedraui.png";
import particpar from "../assets/images/landing/PARTICIPAR_.png";
import bullet from "../assets/images/global/bullet.png";
import whatsapp from "../assets/images/global/WhatsApp.png";
import logo from "../assets/LOGO HYDROLIT OUTLINE-.png";
import txt from "../assets/images/landing/txt.png";
import CharacterImage from "../components/CharacterImage.astro";
---

<Layout title="Jumex Hydrolit - Inicio" currentPage="/">
	<div class="h-full relative w-full">
		<div class="flex flex-col lg:h-full">
			<div
				class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 flex-1 max-w-[90vw] mx-auto space-y-16"
			>
				<div
					class="flex flex-col justify-center gap-20 items-center h-full"
				>
					<div class="hidden md:block">
						<Image
							src={logo}
							alt="Jumex Hydrolit Logo"
							height={80}
						/>
					</div>
					<WhatsAppLink>
						<div
							class="max-w-md relative md:min-h-80 min-h-72 cursor-pointer hover:opacity-90 transition-opacity"
						>
							<!-- Orange splash background -->
							<div class="relative">
								<Image
									src={bullet}
									alt=""
									class="w-full h-auto"
								>
									<!-- Participar text centered on top of bullet -->
								</Image>
								<div
									class="absolute inset-0 flex items-center justify-center"
								>
									<Image
										src={particpar}
										alt="Participar en Jumex Hydrolit"
										height={50}
										class="px-4"
									/>
								</div>
							</div>

							<!-- WhatsApp icon at bottom center -->
							<div
								class="absolute inset-0 flex items-end justify-center"
							>
								<Image
									src={whatsapp}
									alt="WhatsApp"
									height={125}
								/>
							</div>
						</div>
					</WhatsAppLink>
				</div>
				<div class="z-80 items-center flex justify-center px-14 md:p-0">
					<Image src={txt} alt="Jumex Hydrolit Text" height={300} />
				</div>
			</div>
			<div
				class="z-80 lg:grid grid-cols-1 lg:grid-cols-3 mx-auto space-y-4 lg:space-y-0 lg:space-x-4 mt-8 md:mt-0 px-2 relative max-w-screen h-[85vh] lg:h-fit flex flex-col justify-end max-x-screen"
			>
				<div
					class="absolute bottom-0 w-full overflow-x-hidden lg:hidden"
				>
					<CharacterImage position="left" />
				</div>
				<div class="flex justify-center z-80 h-fit">
					<Image src={legal} alt="Términos y condiciones" />
				</div>
				<div class="flex justify-center px-5 z-80 h-fit">
					<Image src={chedraui} alt="Chedraui" />
				</div>
			</div>
		</div>
		<SideCharacter position="right" />
	</div>
</Layout>
