---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import SideCharacter from "../components/SideCharacter.astro";

import txt10 from "../assets/images/premio/10_.png";
import bullet from "../assets/images/premio/bullet.png";
import date from "../assets/images/premio/el 12 de Febrero de 2026  en el museo Júmex_.png";
import doublePasses from "../assets/images/premio/pases dobles_.png";
import txtPremios from "../assets/images/premio/podrás ganar  uno de los_.png";
import CharacterImage from "../components/CharacterImage.astro";
---

<Layout title="Jumex Hydrolit - Inicio" currentPage="/">
	<div class="h-full relative w-full">
		<div class="flex flex-col h-full lg:pr-24">
			<div
				class="relative h-fit lg:h-full grid grid-cols-1 xl:grid-cols-4 space-y-4"
			>
				<div class="none lg:block"></div>
				<div
					class="flex flex-col lg:pt-8 items-center xl:justify-start xl:absolute top-0 left-32"
				>
					<Image
						src={txtPremios}
						alt="Podrás ganar uno de los"
						height={120}
					/>
				</div>
				<div
					class="flex justify-center items-center xl:col-span-2 z-80 lg:z-0"
				>
					<div class="relative max-w-xl xl:max-w-2xl">
						<!-- Bullet background -->
						<Image
							src={bullet}
							alt=""
							class="w-full h-auto hidden md:block"
						/>

						<Image
							src={bullet}
							alt=""
							class="w-full block md:hidden"
							height={180}
						/>

						<!-- txt10 positioned at top left of bullet -->
						<div
							class="absolute top-0 left-16 md:left-32 p-4 md:p-8"
						>
							<!-- Large version for md screens -->
							<Image
								src={txt10}
								alt="10"
								height={60}
								class="hidden md:block"
							/>
							<!-- Small version for smaller screens -->
							<Image
								src={txt10}
								alt="10"
								height={30}
								class="block md:hidden"
							/>
						</div>

						<!-- doublePasses centered on bullet -->
						<div
							class="absolute inset-0 flex items-center justify-center"
						>
							<!-- Large version for md screens -->
							<Image
								src={doublePasses}
								alt="Pases dobles para cenar con Paty Cantú"
								height={180}
								class="hidden md:block"
							/>
							<!-- Small version for smaller screens -->
							<Image
								src={doublePasses}
								alt="Pases dobles para cenar con Paty Cantú"
								height={110}
								class="block md:hidden"
							/>
						</div>
					</div>
				</div>
			</div>
			<div class="flex justify-center my-8 px-8 z-80">
				<Image src={date} alt="Fecha del premio" />
			</div>
			<div class="relative flex justify-center lg:hidden">
				<CharacterImage position="left" />
			</div>
		</div>
		<SideCharacter position="right" />
	</div>
</Layout>
